# User Testing Report

User testing was conducted between 8:00 and 8:20 with the following participants:

- Grace Morton
- Lisa
- Keisha

## Tasks

1. Find the most recent article on the page
2. Get detailed information on Giant Tube Worms
3. Read the main article on the homepage

---

## Individual Results & Observations

### Grace Morton

- She found the recent article by looking at the dates but only sorted by months first
- She found the bucket right away and clicked the link as expected
- The link to the article in the header was clicked right away

### Lisa

- She found the dates information as expected
- She first tried to go to the nav instead of the buckets, the buckets should be more prominent
- She clicked the link as expected


### Keisha

- She found the information as expected
- She did not have trouble completing any of the tasks
- She clicked the link as expected


---

## Trends



### Minor, Annoying, Won’t Hinder Completion
- There should be a search bar where user can type in their query and get to the result faster

- The rotating carousel should have clear information of the page that it is being linked to as users want to find information on it.