
      
<div class="nav-container" role="navigation" id="navigation">
	  
    <a class="toggleMenu" href="#">Menu</a>
    <ul class = "nav">
        <li>
            <a href="{{site.baseurl}}/" class="{% if page.url == '/index.html' %}current{% endif %}">The Deep Sea</a>
            <ul class= "hover-box" >
                <li>
                    <a href="{{site.baseurl}}/article.html" class="{% if page.url == '/article.html' %}current{% endif %}">Characteristics of the Deep Sea</a>
                
                </li>
                <li>
                    <a href="{{site.baseurl}}/article.html" class="{% if page.url == '/article.html' %}current{% endif %}">Deep Sea Life</a>
                
                </li>
            </ul>
        </li>
        <li>
            <a href="{{site.baseurl}}/exploration.html" class="{% if page.url == '/exploration.html' %}current{% endif %}">Exploration</a>
            
        </li>
        <li>
            <a href="{{site.baseurl}}/dwellers.html" class="{% if page.url == '/dwellers.html' %}current{% endif %}">Dwellers</a>
            <ul>
                <li>
                    <a href="{{site.baseurl}}/dwellers.html" class="{% if page.url == '/dwellers.html' %}current{% endif %}">Diversity</a>
                    
                </li>
                <li>
                    <a href="{{site.baseurl}}/creaturecharacteristics.html" class="{% if page.url == '/creaturecharacteristics.html' %}current{% endif %}">Characteristics of Creatures</a>
                    
                </li>
                
                <li>
                    <a href="{{site.baseurl}}/dwellers.html" class="{% if page.url == '/dwellers.html' %}current{% endif %}">Some Creatures</a>
                    <ul>
                        <li><a href="{{site.baseurl}}/anglerfish.html" class="{% if page.url == '/anglerfis.html' %}current{% endif %}">Fangtooth Fish</a></li>
                        <li><a href="{{site.baseurl}}/anglerfish.html" class="{% if page.url == '/anglerfis.html' %}current{% endif %}">Angler Fish</a></li>
                        <li><a href="{{site.baseurl}}/anglerfish.html" class="{% if page.url == '/anglerfis.html' %}current{% endif %}">Viperfish</a></li>
                        <li><a href="{{site.baseurl}}/anglerfish.html" class="{% if page.url == '/anglerfis.html' %}current{% endif %}">Giant Isopod</a></li>
                        <li><a href="{{site.baseurl}}/anglerfish.html" class="{% if page.url == '/anglerfis.html' %}current{% endif %}">Atlantic WOlffish</a></li>
                        <li><a href="{{site.baseurl}}/anglerfish.html" class="{% if page.url == '/anglerfis.html' %}current{% endif %}">Vampire Squid</a></li>
                        <li><a href="{{site.baseurl}}/anglerfish.html" class="{% if page.url == '/anglerfis.html' %}current{% endif %}">Giant Tube Worms</a></li>
                            <li><a href="{{site.baseurl}}/anglerfish.html" class="{% if page.url == '/anglerfis.html' %}current{% endif %}">Giant Spider Crab</a></li>
                    </ul>
                    
                </li>
                
            </ul>
        </li>
        <li>
            <a href="{{site.baseurl}}/factors.html" class="{% if page.url == '/factors.html' %}current{% endif %}">Environmental Factors</a>
            <ul>
                <li>
                    <a href="{{site.baseurl}}/factors.html" class="{% if page.url == '/factors.html' %}current{% endif %}">Human Impact</a>
                    
                </li>
                <li>
                    <a href="{{site.baseurl}}/factors.html" class="{% if page.url == '/factors.html' %}current{% endif %}">Natural Changes</a>
                    </li>
                
            </ul>
        </li>
        
      </ul>  


	
</div>

