
<div class="nav-container" role="navigation" id="navigation">
	  
<a class="toggleMenu" href="#">Menu</a>
<ul class = "nav">
	<li  class="test">
		<a href="index.html">The Deep Sea</a>
		<ul>
			<li>
				<a href="article.html">Characteristics of the Deep Sea</a>
			
			</li>
			<li>
				<a href="article.html">Deep Sea Life</a>
			
			</li>
		</ul>
	</li>
	<li>
		<a href="article.html">Exploration</a>
		
	</li>
	<li>
		<a href="dwellers.html">Dwellers</a>
		<ul>
			<li>
				<a href="article.html">Diversity</a>
				
			</li>
			<li>
				<a href="article.html">Characteristics of Creatures</a>
				
			</li>
            
            <li>
				<a href="dwellers.html">Some Creatures</a>
                <ul>
					<li><a href="anglerfish.html">Fangtooth Fish</a></li>
					<li><a href="anglerfish.html">Angler Fish</a></li>
					<li><a href="anglerfish.html">Viperfish</a></li>
                    <li><a href="anglerfish.html">Giant Isopod</a></li>
					<li><a href="anglerfish.html">Atlantic WOlffish</a></li>
                    <li><a href="anglerfish.html">Vampire Squid</a></li>
					<li><a href="anglerfish.html">Giant Tube Worms</a></li>
                    	<li><a href="anglerfish.html">Giant Spider Crab</a></li>
				</ul>
				
			</li>
            
		</ul>
	</li>
	<li>
		<a href="article.html">Environmental Factors</a>
		<ul>
			<li>
				<a href="article.html">Human Impact</a>
				
			</li>
			<li>
				<a href="article.html">Natural Changes</a>
				</li>
			
		</ul>
	</li>
	
  </ul>  
   <!-- <div class="searchbar"> 
<label>Search</label>
<input type="search" placeholder="Search">
</div>-->
	
	
	
</div>

