
<div class="nav-container" role="navigation" id="navigation">
	
<a class="toggleMenu" href="#">Menu</a>
<ul class = "nav">
	<li  class="test">
		<a href="#">The Deep Sea</a>
		<ul>
			<li>
				<a href="article.html">Charactertistics of the Deep Sea</a>
			
			</li>
			<li>
				<a href="#">Deep Sea Life</a>
			
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Exploration</a>
		
	</li>
	<li>
		<a href="dwellers.html">Dwellers</a>
		<ul>
			<li>
				<a href="#">Diversity</a>
				
			</li>
			<li>
				<a href="#">Characteristics of Creatures</a>
				
			</li>
            
            <li>
				<a href="#">Some Creatures</a>
                <ul>
					<li><a href="#">Fangtooth Fish</a></li>
					<li><a href="#">Angler Fish</a></li>
                    <li><a href="#">Denim</a></li>
					<li><a href="#">Viperfish</a></li>
                    <li><a href="#">Giant Isopod</a></li>
					<li><a href="#">Atlantic WOlffish</a></li>
                    <li><a href="#">Vampire Squid</a></li>
					<li><a href="#">Giant Tube Worms</a></li>
                    	<li><a href="#">Giant Spider Crab</a></li>
				</ul>
				
			</li>
            
		</ul>
	</li>
	<li>
		<a href="#">Environmental Factors</a>
		<ul>
			<li>
				<a href="#">Human Impact</a>
				
			</li>
			<li>
				<a href="#">Natural Changes</a>
				</li>
			
		</ul>
	</li>
	
  </ul>  
   <!-- <div class="searchbar"> 
<label>Search</label>
<input type="search" placeholder="Search">
</div>-->
	
	
	
</div>

