<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
   
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
 

		
       
	<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
  
    
    <script src="js/modernizr-1.0.min.js"></script>
        
    <title>{% if page.title %}{{page.title}} . {% endif %}Deep Sea</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover the fascinating lifeforms of the deep sea">
  
     <!-- Facebook -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{page.title}} — Discover the hidden mysteries"> 
    <meta property="og:url" content="http://sundusasif.github.io/large-data-website/index.html">
    <!-- Image size: minumum 200 x 200; recommended 1500 x 1500 -->
    <meta property="og:image" content="http://sundusasif.github.io/large-data-website/img/ispider-crab-small.jpg">
    <meta property="og:description" content="Discover the fascinating lifeforms of the deep sea">
    <meta property="og:site_name" content="The Deep Sea">
    
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="{{page.title}} — Discover the hidden mysteries"> <!-- this is exactly the same as the title -->
    <meta property="twitter:url" content="http://sundusasif.github.io/large-data-website/index.html">
    <!-- Image size 120 x 120 -->
    <meta property="twitter:image" content="http://sundusasif.github.io/large-data-website/img/spider-crab-small.jpg">
    <meta property="twitter:description" content="{{page.title}} — Discover the fascinating lifeforms of the deep sea">
   
    
    
</head>

  <body id="top">
  
  <ul class="skiplinks">
<li><a href="#main">Skip to primary content</a></li>
<li><a href="#complimentary">Skip to secondary content</a></li>
<li><a href="#navigation">Skip to navigation</a></li>


</ul>
  
      <div class="headercontent">
      <header id="header" class="clear">
  	<div class="logo">
		<a href="index.html" rel="home"><img src="img/logo2.png" alt="Deep Sea Website"></a>
	</div>
        
    <!-- <hr class="featurette-divider">-->
   
  {% include nav.html %}
    </header>
    </div>
<!-- Carousel -->
 {% if page.carousel != false %}

 <div class= "outside-wrapper">
<div class= "large-carousel">
 <div id="this-carousel-id" class="carousel slide" role="banner">
        <div class="carousel-inner">
          <div class="item active">
            <a href="index.html">  <img src="img/echo.jpg" alt="Deep Sea Facts" /> </a>
            <div class="carousel-caption">
              <p>Over 60% of the earth is covered by water yet most of this territory remains largely unexplored.</p>
            </div>
          </div>
          
          <div class="item">
            <a href="dwellers.html">
              <img src="img/carina.jpg" alt="Deep Sea Dwellers" />
            </a>
            <div class="carousel-caption">
              <p>Different environments in deep sea result in strange lifeforms and creatures.</p>
            
            </div>
          </div>
          <div class="item">
            <a href="dwellers.html">
              <img src="img/antennae.jpg" alt="Giant Spider Crab" />
            </a>
            <div class="carousel-caption">
              <p>Discover the fascinating creatures that dwell in the abyssal depths.</p>
             
            </div>
          </div>
         
        </div>
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev"><span class="visually-hidden">Previous Slide</span>&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next"><span class="visually-hidden">Next Slide</span>&rsaquo;</a>
      </div>
 </div>
{% endif %}


<!-- Second Carousel -->

<!-- Carousel -->
 {% if page.carousel != false %}

 <div class= "outside-wrapper">
<div class= "small-carousel">
 <div id="this-carousel-id" class="carousel slide" role="banner">
        <div class="carousel-inner">
          <div class="item active">
            <a href="index.html">  <img src="img/antennae1.jpg" alt="Deep Sea Facts" /> </a>
            <div class="carousel-caption">
              <p>Over 60% of the earth is covered by water yet most of this territory remains largely unexplored.</p>
            </div>
          </div>
          
          <div class="item">
            <a href="dwellers.html">
              <img src="img/echo.jpg" alt="Deep Sea Dwellers" />
            </a>
            <div class="carousel-caption">
              <p>Different environments in deep sea result in strange lifeforms and creatures.</p>
            
            </div>
          </div>
          <div class="item">
            <a href="dwellers.html">
              <img src="img/antennae1.jpg" alt="Giant Spider Crab" />
            </a>
            <div class="carousel-caption">
              <p>Discover the fascinating creatures that dwell in the abyssal depths.</p>
             
            </div>
          </div>
         
        </div>
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev"><span class="visually-hidden">Previous Slide</span>&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next"><span class="visually-hidden">Next Slide</span>&rsaquo;</a>
      </div>
 </div>
 </div>
{% endif %}


<!-- Second Carousel ends -->

  <section id="tagline">
        	<p>Man cannot discover new oceans unless he has the courage to lose sight of the shore.</p>
    	</section>
      
  <!-- end carousel -->
{{content}}


</div> 
  
   
    <footer>
			<div id="bottom">
				<div id="widget-trigger-holder"><a id="widget-trigger" href="#top" title="View More" class="poshytip"></a></div>
				<div id="content"><a href="#top">Back to the top</a> </div>
			</div>
			
		</footer>
    

	
  		
     <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="js/script.js"></script>
    <script src="js/bootstrap.min.js"></script>


	  <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>
    
    
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46004685-1', 'sundusasif.github.io');
  ga('send', 'pageview');

</script>
    
  </body>
</html>
