<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/layerslider.css" type="text/css" media="screen">
		<!--<link rel="stylesheet" href="css/skin.css" type="text/css" media="screen">-->
        <link rel="stylesheet" href="static/layerslider/skins/defaultskin/skin.css" type="text/css" media="screen">

    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/general.css" rel="stylesheet">
     <title>{% if page.title %}{{page.title}} . {% endif %}Deep Sea</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover the fascinating lifeforms of the deep sea">
  
     <!-- Facebook -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Deep Sea — Discover the hidden mysteries"> 
    <meta property="og:url" content="http://sundusasif.github.io/large-data-website/index.html">
    <!-- Image size: minumum 200 x 200; recommended 1500 x 1500 -->
    <meta property="og:image" content="http://sundusasif.github.io/large-data-website/img/ispider-crab-small.jpg">
    <meta property="og:description" content="Discover the fascinating lifeforms of the deep sea">
    <meta property="og:site_name" content="The Deep Sea">
    
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Deep Sea — Discover the hidden mysteries"> <!-- this is exactly the same as the title -->
    <meta property="twitter:url" content="http://sundusasif.github.io/large-data-website/index.html">
    <!-- Image size 120 x 120 -->
    <meta property="twitter:image" content="http://sundusasif.github.io/large-data-website/img/ispider-crab-small.jpg">
    <meta property="twitter:description" content="Discover the fascinating lifeforms of the deep sea">
   
    
    
</head>

  <body id="top">
  
  <ul class="skiplinks">
<li><a href="#main">Skip to primary content</a></li>
<li><a href="#complimentary">Skip to secondary content</a></li>
<li><a href="#navigation">Skip to navigation</a></li>


</ul>
  
      <div class="headercontent">
      <header id="header" class="clear">
  	<div class="logo">
		<a href="index.html" rel="home"><img src="img/logo2.svg" alt="Deep Sea Website"></a>
	</div>
        
    <!-- <hr class="featurette-divider">-->
   
  {% include nav.html %}
    </header>
    </div>
<!-- Carousel -->
 {% if page.carousel != false %}

 <div class= "outside-wrapper">
<div class= "large-carousel">
 <div id="this-carousel-id" class="carousel slide" role="banner">
        <div class="carousel-inner">
          <div class="item active">
            <a href="index.html">  <img src="img/echo.jpg" alt="Deep Sea Facts" /> </a>
            <div class="carousel-caption">
              <p>Over 60% of the earth is covered by water yet most of this territory remains largely unexplored.</p>
            </div>
          </div>
          
          <div class="item">
            <a href="dwellers.html">
              <img src="img/carina.jpg" alt="Deep Sea Dwellers" />
            </a>
            <div class="carousel-caption">
              <p>Different environments in deep sea result in strange lifeforms and creatures.</p>
            
            </div>
          </div>
          <div class="item">
            <a href="dwellers.html">
              <img src="img/antennae.jpg" alt="Giant Spider Crab" />
            </a>
            <div class="carousel-caption">
              <p>Discover the fascinating creatures that dwell in the abyssal depths.</p>
             
            </div>
          </div>
         
        </div>
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev"><span class="visually-hidden">Previous Slide</span>&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next"><span class="visually-hidden">Next Slide</span>&rsaquo;</a>
      </div>
 </div>
{% endif %}


<!-- Second Carousel -->

<!-- Carousel -->
 {% if page.carousel != false %}

 <div class= "outside-wrapper">
<div class= "small-carousel">
 <div id="this-carousel-id" class="carousel slide" role="banner">
        <div class="carousel-inner">
          <div class="item active">
            <a href="index.html">  <img src="img/antennae1.jpg" alt="Deep Sea Facts" /> </a>
            <div class="carousel-caption">
              <p>Over 60% of the earth is covered by water yet most of this territory remains largely unexplored.</p>
            </div>
          </div>
          
          <div class="item">
            <a href="dwellers.html">
              <img src="img/echo.jpg" alt="Deep Sea Dwellers" />
            </a>
            <div class="carousel-caption">
              <p>Different environments in deep sea result in strange lifeforms and creatures.</p>
            
            </div>
          </div>
          <div class="item">
            <a href="dwellers.html">
              <img src="img/antennae1.jpg" alt="Giant Spider Crab" />
            </a>
            <div class="carousel-caption">
              <p>Discover the fascinating creatures that dwell in the abyssal depths.</p>
             
            </div>
          </div>
         
        </div>
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev"><span class="visually-hidden">Previous Slide</span>&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next"><span class="visually-hidden">Next Slide</span>&rsaquo;</a>
      </div>
 </div>
 </div>
{% endif %}


<!-- Second Carousel ends -->

  <section id="tagline">
        	<p>Man cannot discover new oceans unless he has the courage to lose sight of the shore.</p>
    	</section>
      
  <!-- end carousel -->
{{content}}


</div> <!-- outside wrapper ends here -->    
<!--<footer>
			<ol>
				<li><a href="#top">Back to Top</a></li>
				
			</ol>
	</footer>-->
    <!--
    
    <footer>
			<div id="bottom">
				<div id="widget-trigger-holder"><a id="widget-trigger" href="index.html#" title="View More" class="poshytip"></a></div>
				<div id="content">All Copy rights are resereved by<a href=""> </a> </div>
			</div>
			
		</footer>
    
      -->
	
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>
     <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
	<script src="js/footer-toggle-hybrid.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
