<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/general.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Deep Sea</title>
</head>

  <body>
  
  	<div class="logo">
		<a href="index.html"><img src="img/deepsea.svg" alt="Deep Sea"></a>
	</div>
        
    <!-- <hr class="featurette-divider">-->
    <hr class="divider-inside-bottom"></hr>
  
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               Main Menu</button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              
       			 <li  class="active dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Deep Sea<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<li><a href="#">Characteristics of the Deep Sea</a></li>
                      <li><a href="#">Deep Sea Life</a></li>
                  </ul>
               </li>
                  
              <li><a href="article.html">Characteristics</a></li>
        
             <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dwellers <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  <li><a href="#">Diversity</a></li>
                    <li><a href="#">Characteristics of Deep Sea Fish</a></li>
         
                   <li class="dropdown">
                  <a href="#">Some Creatures<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    
                        <li><a href="#">Angler Fish</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Viperfish</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Giant Isopod</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Atlantic Wolffish</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Vampire Squid</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Giant Tube Worms</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Giant Spider Crab</a></li>
                 
                     </ul>
                </li>
                  </ul>
                </li>
            
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Environment <b class="caret"></b></a>
                  <ul class="dropdown-menu">
              
                    <li><a href="#">Human Impact</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Natural Changes</a></li>
                   
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    
    
<!-- Carousel -->
 
 <div id="this-carousel-id" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <a href="">  <img src="img/antennae.jpg" alt="Antennae Galaxies" /> </a>
            <div class="carousel-caption">
              <p>Over 60% of the earth is covered by water yet most of this territory remains largely unexplored.</p>
            </div>
          </div>
          
          <div class="item">
            <a href="">
              <img src="img/carina.jpg" alt="Carina Caterpillar" />
            </a>
            <div class="carousel-caption">
              <p>Different environments in deep sea result in strange lifeforms and creatures.</p>
            
            </div>
          </div>
          <div class="item">
            <a href="">
              <img src="img/echo.jpg" alt="Light Echo" />
            </a>
            <div class="carousel-caption">
              <p>Discover the fascinating creatures that dwell in the abyssal depths.</p>
             
            </div>
          </div>
         
        </div>
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
      </div>
  <!-- end carousel -->
{{content}}


    
	<footer>
			<ol>
				<li><a href="#">Back to Top</a></li>
				
			</ol>
	</footer>

	<script src="js/footer-toggle-hybrid.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>
  </body>
</html>
